.userInfo {
    display: grid;
    grid-template-columns: 2;
    gap: 2px;
    grid-auto-rows: 3rem;
}

.userInfoImage {
    grid-column:2;
    grid-row:1;
}

.userInfoText {
    grid-column:1;
    grid-row:1;
    display: grid;
    grid-template-columns: repeat(2,15rem);
    gap: 2px;
    grid-auto-rows: 1rem;
}

.infoTitle {
    margin-left:auto;
    color: burlywood;
}

.titleNomeColab {
    grid-column:1;
    grid-row:1;
}

.nomeColab {
    grid-column:2;
    grid-row:1;
}

.titleLoginColab{
    grid-column:1;
    grid-row:2;
}

.infoColab {
    grid-column:2;
    grid-row:2;
    display: grid;
    grid-template-columns: repeat(3,5rem);
    gap: 2px;
    grid-auto-rows: 1.5rem;
}

.loginColab{
    grid-column:1;
    grid-row:1;
}

.titleUnidadeColab {
    grid-column:2;
    grid-row:1;
}

.unidadeColab {
    grid-column:3;
    grid-row:1;
}

.inline {
    display: inline;
}

.upperCase {
    text-transform: uppercase;
}

.sidebarItem {
    width: 100%;
    border: 1px;
    border-left: 0;
    border-right: 0;
    border-color: darkblue; 
    border-style:solid;
}

.lightTableBorder {
    border-width: 2px;
}

.bg-lightgray {
    background-color: lightgray;
}

.whiteText {
    color: white;
}

.blueText {
    color: blue;
}